<!-- @format -->
<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
  </head>

  <body>
    <div class="col-md-12" style="height: 100vh">
      <div class="row" style="height: 100%">
        <div class="sidebar col-md-2">
          <ul>
            <li id="menu1" class="menu-item">
              <button>chart</button>
            </li>
            <li id="menu2" class="menu-item">
              <button>text</button>
            </li>
          </ul>
        </div>
        <div class="content col-md-10" style="height: 100%">
          <div id="item1" class="item col-md-12" style="height: 100%; display: none">
            <div id="chart1" style="height: 100%"></div>
          </div>
          <div id="item2" class="item col-md-12" style="height: 100%; display: none">
            <p>this is text</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      var chart1 = echarts.init(document.getElementById('chart1'))
      const sidebar = document.querySelectorAll('.menu-item')
      const content = document.querySelectorAll('.item')
      var last_index = parseInt(localStorage.getItem('last_index'))
      if (last_index == null) {
        last_index = 0
      }
      window.onload = function () {
        console.log('Page loaded')
        sidebar[last_index].click()
        setInterval(update, 1000)
      }
      
      window.onresize = function () {
        chart1.resize()
      }
      
      sidebar.forEach(function (item, index) {
        item.addEventListener('click', function () {
          console.log(item.id)
          content[last_index].style.display = 'none'
          sidebar[last_index].style.color = 'black'
      
          content[index].style.display = 'block'
          sidebar[index].style.color = 'red'
          last_index = index
          localStorage.setItem('last_index', index)
          if (index == 0) {
            chart1.resize()
          }
        })
      })
      
      function update() {
        if (content[last_index].id == 'item1') {
          var xmlhttp
          if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest()
          } else {
            xmlhttp = new ActiveXObject('Microsoft.XMLHTTP')
          }
          xmlhttp.withCredentials = true
          xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
              var data = JSON.parse(xmlhttp.responseText)
              var option1 = JSON.parse(data['chart1'])
              if (chart1.getOption()) {
                option1['legend'][0]['selected'] = chart1.getOption()['legend'][0]['selected']
              }
              chart1.setOption(option1)
            }
          }
          xmlhttp.open('GET', '/data/?mod=item1', true)
          xmlhttp.send()
        }
      }
    </script>
  </body>
</html>
