<!-- @format -->
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/x-icon" />
        <script src="{% static 'js/utils.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/echarts.min.js' %}"></script>
    </head>

    <body>
        {% block content %} {% endblock %}
    </body>
    <script></script>
    {% block script %} {% endblock %}
</html>
